### The Zen of Python

The Zen of Python is a collection of guiding principles for writing computer programs in the Python language.

The Zen of Python was written by Tim Peters in 1999, and has since become a popular reference for Python developers. 

Some of the key principles of the Zen of Python include simplicity, readability, and practicality.


The Zen of Python is part of the Python language itself, and can be accessed by typing "import this" into a Python interpreter.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Writing our First Python Syntax

- Launch the Jupyter Notebook.

- Create a new Notebook.

- Type the following command:

`print("Hello World")`

- Press the Shift and Enter Key

In [1]:
print("Hello World")

Hello World

If there are no errors and Hello World is displayed, hurray you have written your first python Syntax.

`Welcome to Python Programming`

The instruction `print("Hello World")`  displays the string "Hello world" on the screen.

The `print` is a built-in function in Python that is used to output data to the screen, or to a file.

### Variable

A variable in computer programming is a name that represent a value.

Simply put, a variable is a container for storing data values.

Examples:
    
`number = 2`

The number holds the value of 2

`name = "Selasi"`

The name holds the value of Selasi

In [2]:
number = 2
number

2

In [3]:
name = "Selasi"
name

'Selasi'

In [4]:
names = ["Kofi","Ama", "Kojo"]

In [5]:
names

['Kofi', 'Ama', 'Kojo']

#### Standard rules for creating  Variable

- Variable names must start with a letter or an underscore (_) and can be followed by any combination of letters, digits, and underscores.

- Variable naming are case-sensitive meaning **X** and **x** are considered as different variables.

- Variable names should be meaningful and descriptive, it makes it easier to understand the code and to debug it.

- Avoid using python reserved words as variable name example **if, elif, else** etc

- Avoid spaces in variable name example **my name**, **my age**

### Data Types

A data type or simply type is a classification of data which tells the compiler or interpreter how the programmer intends to use the data.

Simply, data types are used to specify the type of a variable

#### Basic Data Type In Python

The basic data type in python include:

1. Integer
2. Float
3. Boolean
4. String

#### Integer

An integer is a number with no decimal or fractional part and it includes negative and positive numbers, including zero.

Integers are represented as **int** in python

Examples include 2,33,-2,0

In [6]:
x  = 4
y = 0

To check the the data type of a variable use the function **type()**

In [7]:
type(y)

int

In [8]:
type(x)

int

#### Float

A float is a number with a decimal point.

Examples include 22.5, 55.3, 0.25, -34

In [9]:
a = 5.5
b = 22.0

In [10]:
a

5.5

In [11]:
type(a)

float

In [12]:
type(b)

float

#### Boolean

A boolean is a data type that has one of two possible values, **True (1)**, **False(0)**.

It is represented as **bool** in Python

In [13]:
True

True

In [14]:
bool(1)

True

In [15]:
bool(0)

False

#### String

A string is data type that consists of a sequence of characters that represent as text.

Strings are **immutable** meaning characters of a string cannot be replaced once created.

Strings are indicated in Python using the quotation marks(**""** or **''**)

Numbers placed within quoatation marks are strings.

It is represented as **str**.

In [16]:
my_name = "Kwaku"
age = "21"

In [17]:
my_name

'Kwaku'

In [18]:
type(my_name)

str

In [19]:
type(age)

str

#### Casting

It is the process of converting the value of one data type to another.

Examples:  Converting an integer to float, converting a float to an integer etc

##### Converting a float to an integer
Use the function **int()** to convert a float to an integer

In [20]:
number = 34.4

In [21]:
type(number)

float

In [22]:
number_int = int(number)
number_int

34

In [23]:
type(number_int)

int

##### Converting an integer to a float

Use the function float() to convert an integer to a float

In [24]:
num_int = 50
type(num_int)

int

In [25]:
num_float = float(num_int)
num_float

50.0

In [26]:
type(num_float)

float

#### Converting an integer to a string

Use the function str() to convert an  integer to a string

In [27]:
h = 5
type(h)

int

In [28]:
h_str =str(h)
h_str

'5'

### Assignment Operator

The assignment operator is used to assign a value to a variable.

The symbol for the assigment operator in Python is **=**

In [29]:
Kofi = 9
Ama  = 10

In [30]:
Kofi

9

In [31]:
Ama

10

### Arithmetric Operators

|Operator||Action|
|----||----|
|+||addition|
|-||subtraction|
|*||multiplication|
|/|| division|
|\**||exponential|
|%||modulo|
|\//|| integer division|

In [32]:
# Addition
a = 45
b = 33

In [33]:
a+b

78

In [34]:
# Substraction
b-a

-12

In [35]:
a-b

12

In [36]:
43-3

40

In [37]:
#Division
a/b

1.3636363636363635

In [38]:
14/3.5

4.0

**The division operation returns a float even if the operands are integers**

In [39]:
#Integer Division
a//b

1

In [40]:
14//3

4

**The integer division returns the quotient of the division as the output which is an integer**

In [41]:
#Modulo
15%2

1

In [42]:
a%b

12

**The modulo operator returns the remainder of the divison.**

### Exponential operator

The exponential operator returns the results of raising the first operand to the power of the second operand.

The symbol of the exponential operator in Python is `**`

The symbol **^** does no means power in Python

In [43]:
2**3

8

In [44]:
5**2

25

### Comparison operators

|Operator||Meaning|
|----||----|
|<||less than|
|>||greater than|
|<=||less than or equals to|
|>=||greater than or equals to|
|==||equals to|
|!=|| not equals to|

In [45]:
apples = 44
banana = 22
oranges = 15
pawpaw = 22

In [46]:
apples < oranges

False

In [47]:
banana > oranges

True

In [48]:
apples <= oranges

False

In [49]:
apples >= pawpaw

True

In [50]:
banana == pawpaw

True

In [51]:
banana != apples

True

### Logical Operators

|Operator||Action|
|----||----|
|and (&)||evaluates if both sides are True|
|or (\|)||evaluates if at least one side is True|
|not||inverses a boolean|

In [52]:
(banana == pawpaw) and (banana != apples)

True

In [53]:
(apples >= pawpaw) | (banana > oranges)

True

In [54]:
not (apples < oranges)

True