### Q1

Name the four built-in data structures in python. Give one examples for each

In [1]:
# list
x = [1,2,3,4]
# Tuple
tup_1= (1,2,3)
# Set
z = {2,5,7,4}
# Dictionary
u = {"pencil": 25, "pin":54}

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
#The length of a tuple is fixed, whereas the length of a list is variable
#Tuples are immutable in nature wheras list are not

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [27]:
animal_list = ["sheep","cat","dog","mouse","lion"]

In [28]:
print(animal_list[:2])

['sheep', 'cat']

In [29]:
print(animal_list[-2:])

['mouse', 'lion']

In [30]:
animal_list.append("goat")

In [31]:
animal_list.append("zebra")

In [32]:
animal_list.append("bear")

In [23]:
print(animal_list)

['sheep', 'cat', 'dog', 'mouse', 'lion', 'goat', 'zebra', 'bear']

In [33]:
del(animal_list[:2])

In [34]:
len(animal_list)

6

In [35]:
animal_set = set(animal_list)
animal_set

{'bear', 'dog', 'goat', 'lion', 'mouse', 'zebra'}

In [36]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [37]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [39]:
first = suitcase[:2]
first

['sunglasses', 'hat']

In [43]:
middle = suitcase[2:4]
middle

['passport', 'laptop']

In [45]:
last = suitcase[-2:]
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [51]:
values = [20,25,30,40,45,50,55,60,65,70]

In [52]:
values.insert(3,35)
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
When the elements are fixed like days of the week

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [53]:
region_capital = {"Volta":"Ho","Ashanti":"Kumasi","Northen":"Tamale","Eastern":"Koforidua","Western":"Takoradi"}

In [56]:
print(region_capital.keys())

dict_keys(['Volta', 'Ashanti', 'Northen', 'Eastern', 'Western'])

In [57]:
print(region_capital.values())

dict_values(['Ho', 'Kumasi', 'Tamale', 'Koforidua', 'Takoradi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [67]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]
len(values)

16

In [76]:
def most_frequent(values):
    return max(set(values), key = values.count)

print(most_frequent(values))

3

In [68]:
values_set = set(values)
values_set

{1, 2, 3, 4, 5, 6}

In [69]:
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [75]:
    d=dict()
for x in range(1,16):
     d[x]=x**2
    print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [77]:
values ={"x","y","z"}
x = {}
for a in values:
    if a =="x":
        x[a] = list(range(1,21))
    elif a =="y":
        x[a] = list(range(21,30))
    else:
        x[a] = list(range(31,40))
for a in values:
    print(f"[{a}: {x[a][4]}")

[z: 35
[x: 5
[y: 25